/* .text {
  margin: 0 auto;
  width: 50%;
} */

.footer {
  background-color: #00001a;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
}

