<div class="wrapper">
  <a href="#" class="image-logo image"></a>
  <ul class="list">
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#management" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
      <ul class="list collapse pl-3" id="management">
        <li>
          <a href="/management">Management</a>
        </li>
        <li>
          <a href="#">Heroes</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
