.wrapper {
  margin-bottom: auto;
  margin-top: 50px;
  color: gray;
}

.newHero-form {
  width: 75%;
  box-shadow: 0px 3px 5px 0px gray;
  padding: 30px;
  margin: 30px auto;
}

.loading {
  opacity: 0.5;
  z-index: -1;
}

.err {
  color: red;
  font-size: 16px;
  padding: 10px;
}

.spin {
  /* display: flex; */
  /* padding: 100px 100px; */
  color: black;
  position: fixed;
  top: 40%;
  left: 50%;
  width: 100px;
  height: 100px;
}
